* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: #c33e3e;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container,
.scoreBoard {
    background-color: #decca9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 8px;
    min-height: 100px;
    border-radius: 5px;

}

.option-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

li {
    list-style-type: upper-alpha;
    list-style-position: inside;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 3px;
}

button {
    margin: 5px;
    padding: 5px;
    text-align: left;
    border: none;
    border-radius: 3px;
    width: 85%;
    outline: transparent;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}

#ques-box {
    margin: 10px 5px;
    padding: 3px;
    font-weight: 600;
    width: 290px;
}

h2 {
    margin-bottom: 15px;
    color: aliceblue;
    font-size: 1.8rem;
}

button:hover {
    background-color: #cda2a2;
}

.score-text {
    font-weight: 500;
}

.hidden {
    display: none;
}

.green {
    background-color: green;
    color: #fff;
}

.red {
    background-color: red;
    color: #fff;
}

.next-btn,
.restart {
    width: 100px;
    text-align: center;
    font-weight: 600;
    background-color: #bd781c;
    color: aliceblue;
    padding: 8px;
}

.restart {
    margin-top: 20px;
}

.restart:hover,
.next-btn:hover {
    opacity: 0.7;
    background-color: #bd781c;
}
